<div class="page-con">
  <div class="cont">
    <div class="cont-1">
      <h4><b>PRIVACY POLICY</b></h4>
      <p>
        ASAP Global Ltd ("ASAP”, “we”, “us”, “our”) provides a platform 
        for its users to request and purchase food and groceries from any nearby 
        restaurant or mall and have it delivered directly to their doorstep (“Services”). 
        At ASAP, one of our core values is transparency, and we owe you (“User”) a duty 
        to tell you how we handle your personal information. Personal information 
        includes unique information or aggregated data that, when processed with 
        other information, can identify you as a living human being. We recommend 
        you read this privacy notice ("Notice”) carefully to understand your rights 
        and our duties towards managing your personal data in addition to our Terms 
        of Use. If you have any questions about either of these documents, please 
        send us an email at support@asapnigeria.com.
      </p>
    </div>
    <div class="cont-2">
      <h4><b>2. Document version control</b></h4>
      <p>
        This Notice is subject to change and consequential review based on legislative 
        changes, need, or in response to changes in our working arrangements. Any 
        changes to this Notice will be approved by the authorized officers.
      </p>
    </div>

    <div class="cont-3">
      <h4><b>3. Why we need your personal information</b></h4>
      <p>We primarily collect information about you to enable us to:</p>
      
      <ul>
        <b>3.1.</b> Provide ASAP Services and facilitate the listing of restaurants around you;<br>
        <b>3.2.</b> Inform you of different product offerings;<br>
        <b>3.3.</b> Comply with our legal and regulatory obligations;<br>
        <b>3.4.</b> Develop, improve, enhance, modify, add to, and further develop our services;<br>
        <b>3.5.</b> Verify you, your identity, that the data provided is credible and prevent fraud;<br>
        <b>3.6.</b> Provide customer support to you;<br>
        <b>3.7.</b> Enable the detection or prevention of fraud and for your protection; and<br>
        <b>3.8.</b> For any other purpose with your consent.<br>
      </ul>
    </div>

    <div class="cont-4">
      <h4><b>4. Consent</b></h4>
      <p>
        You accept this privacy notice when you click on the “accept” button to opt-in and use our Platforms, 
        use our Services, features, technologies, or functions offered on our website, digital platforms, 
        or visit any of our offices for official or non-official purposes. If you otherwise decide to opt out, 
        you can do so by reaching out to us on support@asapnigeria.com. This privacy notice governs the use of 
        the ASAP Services, and if you are not comfortable with us processing your data, you may not use our 
        Services.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>5. How we collect your personal information</b></h4>
      <p>
        We collect information directly from you as well as automatically through your use of our Services, 
        and in some cases, from third-parties subject to your authorization.
      </p>
      <p>
        When you fill out a form, participate in a contest or promotion, request customer service, or otherwise 
        communicate with us, we need your information to understand your needs and to provide relevant services to you.
      </p>
      <p>
        We may also receive information about you from other sources and combine that information with the information 
        we collect directly. Examples of information we may receive from other sources include: updated delivery or 
        payment information used to correct our records, purchase or redemption information, as well as customer support 
        and enrollment information.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>6. What personal information do we collect about you</b></h4>
      <p>We collect only the information essential for you to create an account with ASAP and use our Services.</p>
      <p>The information we collect includes:</p>
      <ul>
        <b>6.1.</b> your personal information in relation to your account such as your name, age, gender, address, 
        location, email address(es), and mobile contact number. We may also collect the name, location, phone number, 
        and other information about third parties related to you or their use of our services if you provide that 
        information to us;<br>
        <b>6.2.</b> details relating to when and where you request our Services and the details of any orders made or 
        received by you in relation to our Services, including your geographical location (which may be calculated from 
        information collected in (8.3) of this section below);<br>
        <b>6.3.</b> details of the device on which any of our Platforms or applications have been installed or accessed, 
        which may include your operating system and versions, unique device identifiers, serial numbers, mobile network, 
        and Wi-Fi information;<br>
        <b>6.4.</b> personal information collected and held via financial or third-party payment systems about the payment 
        mechanism or method that you might use (including credit card details) and the payments you may make for our 
        services or other goods or services you request or receive that are related to the services we provide;<br>
        <b>6.5.</b> your connection to other individuals whose personal information we may collect or hold, for example, 
        family members, friends, or referrals;<br>
        <b>6.6.</b> details about your participation in any loyalty programs linked or available through us or any of our 
        business partners or affiliates;<br>
        <b>6.7.</b> if you use social media to interact with us or other services provided by third parties through ASAP, 
        any information that you allow the social media platform and/or the other third-party site to share with us;<br>
        <b>6.8.</b> any address that you may use for delivery services;<br>
        <b>6.9.</b> if you respond to optional survey requests, demographic information including age, marriage status, 
        ethnicity, profession, and income.<br>
      </ul>
    </div>
    <div class="cont-6">
      <h4><b>How we use your personal information</b></h4>
      <p>The purpose of collecting your personal information is to give you efficient, enjoyable, and secure Service. We may use your information to:</p>
      <ul>
        <b>7.1.</b> provide our Services to you;<br>
        <b>7.2.</b> communicate with you;<br>
        <b>7.3.</b> notify you of any important information or content that you may be interested in;<br>
        <b>7.4.</b> for research and development;<br>
        <b>7.5.</b> ensure and enhance the safety and security of Users and relevant third parties;<br>
        <b>7.6.</b> for customer support services such as facilitating responses to your inquiries or complaints;<br>
        <b>7.7.</b> conduct customer surveys and research activities;<br>
        <b>7.8.</b> conduct marketing, promotions, and advertising activities;<br>
        <b>7.9.</b> fulfill our obligations or claim our rights in legal proceedings;<br>
        <b>7.10.</b> facilitate communications between Users;<br>
        <b>7.11.</b> authenticate Users;<br>
        <b>7.12.</b> investigate and prevent possible fraud and illegal activity;<br>
        <b>7.13.</b> process and facilitate payment for services facilitated by us;<br>
        <b>7.14.</b> deal with disputes and complaints;<br>
        <b>7.15.</b> comply with laws, regulations, and rules, including assisting government agencies and law enforcement investigations;<br>
        <b>7.16.</b> report to regulatory authorities or government bodies on regulatory compliance;<br>
        <b>7.17.</b> use or disclose it as otherwise authorized or permitted by law.<br>
        <b>7.18.</b> contact you at any time through your provided telephone number, email address, or other contact.<br>
      </ul>
    </div>
  </div>
</div>
