<div class="page-con">
  <div class="cont">
    <div class="cont-1">
      <h4><b>PRIVACY POLICY</b></h4>
      <p>
        ASAP Global Ltd ("ASAP”, “we”, “us”, “our”) provides a platform 
        for its users to request and purchase food and groceries from any nearby 
        restaurant or mall and have it delivered directly to their doorstep (“Services”). 
        At ASAP, one of our core values is transparency, and we owe you (“User”) a duty 
        to tell you how we handle your personal information. Personal information 
        includes unique information or aggregated data that, when processed with 
        other information, can identify you as a living human being. We recommend 
        you read this privacy notice ("Notice”) carefully to understand your rights 
        and our duties towards managing your personal data in addition to our Terms 
        of Use. If you have any questions about either of these documents, please 
        send us an email at support@asapnigeria.com.
      </p>
    </div>
    <div class="cont-2">
      <h4><b>2. Document version control</b></h4>
      <p>
        This Notice is subject to change and consequential review based on legislative 
        changes, need, or in response to changes in our working arrangements. Any 
        changes to this Notice will be approved by the authorized officers.
      </p>
    </div>

    <div class="cont-3">
      <h4><b>3. Why we need your personal information</b></h4>
      <p>We primarily collect information about you to enable us to:</p>
      
      <ul>
        <b>3.1.</b> Provide ASAP Services and facilitate the listing of restaurants around you;<br>
        <b>3.2.</b> Inform you of different product offerings;<br>
        <b>3.3.</b> Comply with our legal and regulatory obligations;<br>
        <b>3.4.</b> Develop, improve, enhance, modify, add to, and further develop our services;<br>
        <b>3.5.</b> Verify you, your identity, that the data provided is credible and prevent fraud;<br>
        <b>3.6.</b> Provide customer support to you;<br>
        <b>3.7.</b> Enable the detection or prevention of fraud and for your protection; and<br>
        <b>3.8.</b> For any other purpose with your consent.<br>
      </ul>
    </div>

    <div class="cont-4">
      <h4><b>4. Consent</b></h4>
      <p>
        You accept this privacy notice when you click on the “accept” button to opt-in and use our Platforms, 
        use our Services, features, technologies, or functions offered on our website, digital platforms, 
        or visit any of our offices for official or non-official purposes. If you otherwise decide to opt out, 
        you can do so by reaching out to us on support@asapnigeria.com. This privacy notice governs the use of 
        the ASAP Services, and if you are not comfortable with us processing your data, you may not use our 
        Services.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>5. How we collect your personal information</b></h4>
      <p>
        We collect information directly from you as well as automatically through your use of our Services, 
        and in some cases, from third-parties subject to your authorization.
      </p>
      <p>
        When you fill out a form, participate in a contest or promotion, request customer service, or otherwise 
        communicate with us, we need your information to understand your needs and to provide relevant services to you.
      </p>
      <p>
        We may also receive information about you from other sources and combine that information with the information 
        we collect directly. Examples of information we may receive from other sources include: updated delivery or 
        payment information used to correct our records, purchase or redemption information, as well as customer support 
        and enrollment information.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>6. What personal information do we collect about you</b></h4>
      <p>We collect only the information essential for you to create an account with ASAP and use our Services.</p>
      <p>The information we collect includes:</p>
      <ul>
        <b>6.1.</b> your personal information in relation to your account such as your name, age, gender, address, 
        location, email address(es), and mobile contact number. We may also collect the name, location, phone number, 
        and other information about third parties related to you or their use of our services if you provide that 
        information to us;<br>
        <b>6.2.</b> details relating to when and where you request our Services and the details of any orders made or 
        received by you in relation to our Services, including your geographical location (which may be calculated from 
        information collected in (8.3) of this section below);<br>
        <b>6.3.</b> details of the device on which any of our Platforms or applications have been installed or accessed, 
        which may include your operating system and versions, unique device identifiers, serial numbers, mobile network, 
        and Wi-Fi information;<br>
        <b>6.4.</b> personal information collected and held via financial or third-party payment systems about the payment 
        mechanism or method that you might use (including credit card details) and the payments you may make for our 
        services or other goods or services you request or receive that are related to the services we provide;<br>
        <b>6.5.</b> your connection to other individuals whose personal information we may collect or hold, for example, 
        family members, friends, or referrals;<br>
        <b>6.6.</b> details about your participation in any loyalty programs linked or available through us or any of our 
        business partners or affiliates;<br>
        <b>6.7.</b> if you use social media to interact with us or other services provided by third parties through ASAP, 
        any information that you allow the social media platform and/or the other third-party site to share with us;<br>
        <b>6.8.</b> any address that you may use for delivery services;<br>
        <b>6.9.</b> if you respond to optional survey requests, demographic information including age, marriage status, 
        ethnicity, profession, and income.<br>
      </ul>
    </div>

    <div class="cont-6">
      <h4><b>7. How we use your personal information</b></h4>
      <p>The purpose of collecting your personal information is to give you efficient, enjoyable, and secure Service. We may use your information to:</p>
      <ul>
        <b>7.1.</b> provide our Services to you;<br>
        <b>7.2.</b> communicate with you;<br>
        <b>7.3.</b> notify you of any important information or content that you may be interested in;<br>
        <b>7.4.</b> for research and development;<br>
        <b>7.5.</b> ensure and enhance the safety and security of Users and relevant third parties;<br>
        <b>7.6.</b> for customer support services such as facilitating responses to your inquiries or complaints;<br>
        <b>7.7.</b> conduct customer surveys and research activities;<br>
        <b>7.8.</b> conduct marketing, promotions, and advertising activities;<br>
        <b>7.9.</b> fulfill our obligations or claim our rights in legal proceedings;<br>
        <b>7.10.</b> facilitate communications between Users;<br>
        <b>7.11.</b> authenticate Users;<br>
        <b>7.12.</b> investigate and prevent possible fraud and illegal activity;<br>
        <b>7.13.</b> process and facilitate payment for services facilitated by us;<br>
        <b>7.14.</b> deal with disputes and complaints;<br>
        <b>7.15.</b> comply with laws, regulations, and rules, including assisting government agencies and law enforcement investigations;<br>
        <b>7.16.</b> report to regulatory authorities or government bodies on regulatory compliance;<br>
        <b>7.17.</b> use or disclose it as otherwise authorized or permitted by law.<br>
        <b>7.18.</b> contact you at any time through your provided telephone number, email address, or other contact.<br>
      </ul>
    </div>

    <div class="cont-5">
      <h4><b>8. Third-party technologies</b></h4>
      <p>
        Occasionally, at our discretion, we may include or offer third-party products or services on our Platform. 
        These third-party sites have separate and independent privacy policies. We, therefore, have no responsibility or 
        liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of 
        our Platform and welcome any feedback about these sites.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>9. Location Services</b></h4>
      <p>
        Before you can use our Platform for the first time, we will ask you to choose whether to allow ASAP access your 
        location and in what circumstances. Location services must be enabled for us to provide our Services to you. You 
        may change these settings at any time on your device. With your permission, we will obtain your location through 
        IP address, GPS, and other sensors that provide necessary information for the provision of our Services.
      </p>
      <p>
        We may collect Wi-Fi metadata from your device, including whether your device is Wi-Fi and GPS enabled and connected 
        to Wi-Fi, the Media Access Control (MAC) address of your device, the Set Service Identifier (SSID), and signal level 
        of Wi-Fi networks within the range of your device, the GPS location of your device in relation to Wi-Fi networks in 
        the range of your device, and the time the metadata was collected. We use the information primarily so that we can 
        recommend restaurants closest to you.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>10. Communication</b></h4>
      <p>
        The ASAP Platform allows you to contact us via call or message anonymously once the food has been purchased from the 
        chosen restaurant to facilitate the provision of delivery services. If you use this functionality, ASAP will record 
        all communications (voice and text) made and received through the ASAP Platform for safety, monitoring, and quality 
        assurance purposes, fraud prevention, and for analytical purposes to improve our services, including our customer service, 
        policies, and procedures and/or to investigate and deal with disputes and complaints. By using this functionality, you 
        consent to ASAP recording and using these communications as stated in this Privacy Notice.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>11. Your social media use</b></h4>
      <p>
        ASAP uses third-party websites such as Facebook and Twitter for interactive information sharing and to connect with Users. 
        We recommend you read any terms and conditions (including any privacy statements or policies) that apply to any third-party 
        web service relating to the handling and management of your personal information as they may use your personal information 
        in ways and for purposes that are different from the way ASAP uses and processes your personal information.
      </p>
      <p>
        We encourage you to keep your personal information confidential by contacting them through direct or private messages, email, 
        or the customer service hotline.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>12. Surveys</b></h4>
      <p>
        We may request that you complete a survey to allow us to have a better understanding of our Services and to improve them. 
        If you choose to participate in any optional survey, we may collect demographic information about you, including age, marriage 
        status, ethnicity, profession, and income, and which could include your sensitive information. We may also collect information 
        about the way you use our Services and your experiences with it. By participating in any survey, you consent to our collection 
        and use of the information you provide in accordance with this privacy notice.
      </p>
    </div>

    <div class="cont-6">
      <h4><b>13. Disclosures of your personal information</b></h4>
      <ul>
        <b>13.1.</b> ASAP will not sell or rent your information to third parties. However, we may disclose your information:<br>
        for any of the reasons outlined in section 7 above and related purposes which would be reasonably expected by you;<br>
        to related bodies corporate, business partners, and service providers or vendors we engage, such as customer service providers, 
        to help us provide our Services or conduct data processing on our behalf. These entities may be located and operate overseas. 
        Except where an exception under the Nigerian Data Protection Regulation Legislation applies;<br>

        subject to any limitations in your information permission and settings, we may share your information for our everyday business 
        purposes, such as processing your orders and delivery purposes;<br>
        
        with your consent and direction or as otherwise required by law.<br>
        <b>13.2.</b> ASAP will comply with its obligations under the relevant privacy law in relation to any such disclosures, including 
        using reasonable commercial efforts to ensure that such third parties only use your personal information as reasonably required 
        for the purpose of disclosure and in a manner consistent with the privacy legislation. For example, (where commercially practicable) 
        by including suitable privacy and confidentiality clauses in our agreement with those third parties.<br>
        <b>13.3.</b> Your privacy and information permissions and settings can be updated at any time on the ASAP mobile application when 
        you are logged into your account.<br>
      </ul>
    </div>

    <div class="cont-5">
      <h4><b>14. Disclaimer</b></h4>
      <p>
        ASAP has no prior relationship or representation with the restaurants whose directory services are listed on ASAP's Platform. 
        ASAP is solely responsible for the purchase of the customer's order and the delivery of the order to the customer's provided address 
        upon confirmation of payment.
      </p>
      <p>
        ASAP will not be responsible for any breach in the representations made by the restaurant concerning any order made by you and does 
        not guarantee that the representations will be true and accurate.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>15. Storage and Security</b></h4>
      <p>
        We protect your information using physical, technical, and administrative security measures to reduce the risks of loss, misuse, 
        and unauthorized access.
      </p>
      <p>
        personal information we collect on servers in electronic databases which are located in Ireland and managed by our related entities 
        and/or service providers.
      </p>
      <p>
        We have put in place suitable physical, electronic administrative procedures and measures to safeguard and protect the information 
        about you that we collect, and to reduce the risks of loss, misuse, disclosure, alteration, and unauthorized access to your personal 
        information within our custody. Personal information and associated data stored on servers are encrypted and stored through data 
        isolation technology. We limit access to personal information to individuals within our employ or that of our related entities or 
        contracted service providers who we believe reasonably need access to such information to provide products or services to you, or 
        to us, or in order to perform their duties. Some of the safeguards we use are firewalls and data encryption, physical access controls 
        to our data centers, and information access authorization controls. To prevent unauthorized access to your information, we have implemented 
        strong controls and security safeguards at the technical and operational levels. Our website uses Secure Sockets Layer (SSL) to ensure 
        secure transmission of your Personal Data. You should see the padlock symbol in your URL address bar when browsing through our website. 
        The URL address will also start with https:// depicting a secure webpage. SSL applies encryption between two points such as your PC and 
        the connecting server. Any data transmitted during the session will be encrypted before transmission and decrypted at the receiving end. 
        This is to ensure that data cannot be read during transmission.
      </p>
    </div>

    <div class="cont-6">
      <h4><b>16. Retention period</b></h4>
      <p>Subject to the provisions of the NDPR 2019, the retention period of personal information of users of ASAP shall be as follows:</p>
      <ul>
        <b>16.1.</b> five (5) years after the last active use of our digital platform;<br>
        <b>16.2.</b> upon presentation of evidence of death by a deceased's relative, personal information of such User would be discarded;<br>
        <b>16.3.</b> immediately upon request by the User of ASAP or his/her legal guardian where:<br>
        no statutory provision states otherwise and<br>
        such User is not the subject of an investigation or suit that may require retention of the personal information sought to be deleted.<br>
      </ul>
    </div>

    <div class="cont-5">
      <h4><b>17. Direct marketing</b></h4>
      <p>
        We may occasionally contact you directly with related point-to-point restaurant information and special offers from us and other businesses. 
        You consent to us sending you such information, including by means of telemarketing, email, SMS, and other digital channels when you "Subscribe" 
        to receive marketing communications from ASAP.
      </p>
      <p>
        If at any time you decide you do not wish to receive marketing communications from us, you may click the "Unsubscribe" button in the marketing 
        emails and messages or by emailing us. If you opt out of receiving marketing communications from us, we may still contact you or send you messages 
        that are not of promotional nature, such as receipts for restaurant directory and delivery services booked through ASAP.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>18. Links to other websites</b></h4>
      <p>
        ASAP and communications sent by us may contain links to websites or web addresses of third parties and third-party services. While we take 
        appropriate care when publishing links to any third-party services, you shall, at your own discretion, decide whether or not to access such 
        links or accept such services. ASAP gives no undertakings or warranties with respect to the accuracy, completeness, adequacy, and reliability 
        of any information, data, opinions, pictures, statements, or suggestions provided by such links. ASAP does not have control over or assumes 
        any liability for third-party websites, their content, or their data use and retention policies or practices.
      </p>
    </div>

    <div class="cont-6">
      <h4><b>19. Information about your personal information</b></h4>
      <ul>
        <b>19.1.</b> You may make any of the following requests in respect of your personal information within our custody:<br>
        confirmation that we hold and use personal information about you;<br>

        access to the personal information we hold about you provided that such requests are made in compliance with 
        the Freedom of Information Act and other relevant enactments;<br>

        correction of or updates to the personal information we hold about you;<br>
        
        anonymization, blocking, or erasure of your personal information that is no longer necessary for us to provide 
        services to you or no longer necessary for our normal business operations and activities;<br>
        
        data portability. In some circumstances, you may, by express request, ask us to provide a third-party service 
        provider with a copy of the personal information we hold about you in a structured, machine-readable, and 
        commonly used format (as selected by us), or otherwise in accordance with the requirements of the applicable law;<br>
        
        anonymization, blocking, or erasure of your personal information that is no longer necessary for us to provide 
        services to you or no longer necessary for our normal business operations and activities;<br>
        
        deletion or erasure of personal information we hold about you, where we relied on your consent to use your personal 
        information unless an exception applies, such as where we are required to retain such information to comply with our 
        legal or regulatory obligations as set out in section 16.3.1;<br>
        
        to the extent not addressed in section 14, information regarding third parties to whom your personal information is disclosed;<br>
        
        revoke your consent, where we rely on your consent to use and disclose your personal information;<br>
        <b>19.2.</b> You can make any of the above requests by contacting us. We may ask you to complete a form and provide 
        suitable identification when you seek to make any of these requests to verify your identity.<br>
        <b>19.3.</b> We will provide you with a response as soon as possible. Requests that we deem simple will be responded 
        to within 2-3 days, while those we deem to be more complicated may take up to 20 working days to respond to. If we are 
        unable to comply with your request for any reason (such as, not being permitted or required to do such an act under the 
        privacy legislation in force), we will inform you of this.<br>
        <b>19.4.</b> If the personal information we provide in response to your request includes information that is the personal 
        information of a third party, or that is confidential, or in which we own copyright (such as transcripts or recordings of 
        customer service call records), we may redact such information where reasonably necessary, and you must keep such information 
        confidential and not make the information public, including by sharing the information on social media, without our written 
        consent sought and obtained.<br>
        <b>19.5.</b> Users can also delete their account from ASAP. If you delete your account, we will retain your personal information 
        in accordance with our record-keeping policies and obligations as an online restaurant directory and delivery services 
        facilitator (as applicable).<br>
        <b>19.6.</b> ASAP may retain your personal information after you have requested us to delete or de-identify your information if:<br>

        there is an unresolved issue relating to your account, such as an outstanding credit on your account or an unresolved claim or dispute;<br>
        we are required to by any applicable law; and/or<br>

        necessary for our legitimate business interests, such as fraud prevention and enhancing users' safety and security.<br>
        <b>19.7.</b> When personal information is no longer required, we will take reasonable steps to delete the personal 
        information from our systems or de-identify the personal information.<br>
      </ul>
    </div>

    <div class="cont-5">
      <h4><b>20. Changes to our privacy notice</b></h4>
      <p>
        From time to time and for any reason, we may revise and update our privacy Notice and our information handling practices. 
        Our Privacy Notice is available in the ASAP mobile application and website.
      </p>
      <p>
        If we make significant changes to our privacy Notice, we will notify you of the changes through the ASAP application or 
        by other means, such as email. We may also amend this privacy Notice at any time by posting a revised version on our website 
        or mobile application. The revised version will be effective 7 days after publication.
      </p>
      <p>
        We encourage you to review this Privacy Notice regularly to ensure you are familiar with any changes.
      </p>
    </div>

    <div class="cont-5">
      <h4><b>21. Governing law</b></h4>
      <p>
        This privacy notice is made pursuant to the Nigeria Data Protection Regulation 2019 and other relevant Nigerian laws, regulations, 
        or international conventions applicable to Nigeria. Where any provision of this Notice is deemed inconsistent with a law, regulation, 
        or convention, such provision shall be subject to the overriding law, regulation, or convention.
      </p>
      <p>
        This privacy notice applies to any User of the Services provided by ASAP and to anyone else who contacts ASAP or otherwise 
        submits information to ASAP.
      </p>
    </div>
  </div>
</div>