<div class="container">
  <div class="testimonials">
    <div class="hed"><img src="/assets/illustrations/Frame 39.png"> <span class="hdr">FAQs</span> <img src="/assets/illustrations/Frame 38.png"></div>


    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-slide1">
          <h1 class="hd"><b>Questions</b></h1><br />
          <h3
          *ngFor="let question of questions; let i = index"
          [ngClass]="{ 'selected-question': selectedQuestionIndex === i }"
          (click)="selectQuestion(i)"><b>{{ question }}</b></h3>
        </div>
        <div class="carousel-slide2">
          <h1 class="hd"><b>Answer</b></h1><br />
          <p>{{ selectedAnswer }}</p>
        </div>
      </div>
    </div>
</div>
</div>
