/* Inside faq.component.scss */
.container {
  background: linear-gradient(to bottom, #ffffff 40%, #FFAA02 60%);
  margin-bottom: -30px;
  padding-bottom: 40px;
  height: fit-content;
}
.testimonials{
  top: -20px;
  bottom: 0;
  margin: 0 10%;
  background-color: #ffe79e;
  border-radius: 50px;
  border: 4px solid #000000;
  padding: 5% 0;
}
/* Set the height of the carousel to cover the entire screen */
.carousel {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  padding: 5% 2% 2% 2%;
}

/* For larger screens, show 2 rows and 2 columns */
.carousel-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;
}

/* Individual box styles */
.carousel-slide1 {
  display: block;
  overflow: scroll;
  border: 1px solid #ffffff;
  border-radius: 7px;
  text-align: left;
  box-sizing: border-box;
  height: 400px;
  min-height: 100%;
  max-height: fit-content;
  padding: 5%;
  padding-top: 0;
  margin: 3.5% 5% 3.5% 5%;
  h3 {
    font-size: 15px;
    background-color: #75AB1F;
    color: #000000;
    border-radius: 10px;
    padding: 5%;
  }
  .selected-question {
    background-color: #000000;
    color: #ffffff;
  }
}

/* Individual box styles */
.carousel-slide2 {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 7px;
  text-align: left;
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  max-height: fit-content;
  padding: 5%;
  padding-top: 0;
  margin: 3.5% 5% 3.5% 5%;
  p {
    font-size: 16px;
  }
}

/* Indicators styles */
/* Inside faq.component.scss */

/* ... (existing styles) */

.slide-indicators {
  text-align: center;
  margin-top: 10px;
}
.btn{
  font-size: 17px;
  font-weight: 500;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #b3b3b3;
}
.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: #FFAA02;
}
.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator-container {
  display: flex;
  align-items: center;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}


.hed{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hdr{
  margin: 0 10px 0 10px;
  color: #75AB1F;
  font-size: 1.2rem;
}
.hd{
  text-align: center;
  margin-bottom: -5px;
}
@media(max-width:601px){
  .carousel-inner{
    display: block;
  }
}