<div class="container">
  <div class="testimonials">
    <div class="hed"><img src="/assets/illustrations/Frame 39.png"> <span class="hdr">What they say</span> <img src="/assets/illustrations/Frame 38.png"></div>

    <h1><b>Reviews</b></h1><br>

    <div class="mySlides1 slide" [hidden]="slideIndex[0] !== 1">
      <div class="review">
        <div class="rev">
          <div class="revs">
            <div class="rev-cont">
              <div class="com-1">
                <div clas="com-pic">
                  <img src="/assets/illustrations/Ellipse 291 (2).png" class="man1" alt="customer">
                </div>
                <div class="com-txt">
                  <h5><b>Rose Umhe</b></h5>
                  <p class="tt">influener</p>
                  <p class="tt2">"Best app in the world,Best app in the world " </p>
                  <p class="read">Read More</p>
                </div>
                </div>
                <div class="com-2">
                  <div class="com-txt1">
                    <h5><b>Micheal Tobi</b></h5>
                    <p class="tt">influener</p>
                    <p class="tt2">"Best app in the world, Best app in the world"</p>
                    <p class="read">Read More</p>
                  </div>
                  <div class="com-pic">
                    <img src="/assets/illustrations/Ellipse 291 (1).png" class="man" alt="customer">
                    
                  </div>
                </div>
              
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="mySlides1 slide" [hidden]="slideIndex[0] !== 2">
      <div class="review">
        <div class="rev">
          <div class="revs">
            <div class="rev-cont">
              <div class="com-1">
                <div clas="com-pic">
                  <img src="/assets/illustrations/Ellipse 291 (2).png" class="man1" alt="customer">
                </div>
                <div class="com-txt">
                  <h5><b>Rose Umhe</b></h5>
                  <p class="tt">influener</p>
                  <p class="tt2">"Great ordering app has everything you need"</p>
                  <p class="read">Read More</p>
                </div>
                </div>
                <div class="com-2">
                  <div class="com-txt1">
                    <h5><b>Micheal Tobi</b></h5>
                    <p class="tt">influener</p>
                    <p class="tt2">"Great ordering app has everything you need"</p>
                    <p class="read">Read More</p>
                  </div>
                  <div class="com-pic">
                    <img src="/assets/illustrations/Ellipse 291 (1).png" class="man" alt="customer">
                    
                  </div>
                </div>
              
            </div>
          </div>    
        </div>
        </div>
        </div>
    <div class="mySlides1 slide" [hidden]="slideIndex[0] !== 3">
      <div class="review">
        <div class="rev">
          <div class="revs">
            <div class="rev-cont">
              <div class="com-1">
                <div clas="com-pic">
                  <img src="/assets/illustrations/Ellipse 291 (2).png" class="man1" alt="customer">
                </div>
                <div class="com-txt">
                  <h5><b>Rose Umhe</b></h5>
                  <p class="tt">influener</p>
                  <p class="tt2">"Enjoy the best life has to offer eat good meal"</p>
                  <p class="read">Read More</p>
                </div>
                </div>
                <div class="com-2">
                  <div class="com-txt1">
                    <h5><b>Micheal Tobi</b></h5>
                    <p class="tt">influener</p>
                    <p class="tt2">"Enjoy the best life has to offer eat good meal"</p>
                    <p class="read">Read More</p>
                  </div>
                  <div class="com-pic">
                    <img src="/assets/illustrations/Ellipse 291 (1).png" class="man" alt="customer">
                    
                  </div>
                </div>
              
            </div>
          </div>    
        </div>
        </div>
        </div>

    <!-- Slide Indicators -->
    <br>
    <div class="slide-indicators">
      <span class="btn" (click)="plusSlides(-1, 0)" class="btn">&larr;</span>
      <span class="indicator" [class.active]="slideIndex[0] === 1"></span>
      <span class="indicator" [class.active]="slideIndex[0] === 2"></span>
      <span class="indicator" [class.active]="slideIndex[0] === 3"></span>
      <span class="btn" (click)="plusSlides(1, 0)" class="btn">&rarr;</span>

    </div>

    <div class="test-control">
    <!-- Use HTML directional codes for arrow buttons -->
  </div>
</div>
</div>
