<div class="footer">
  <div class="footer-content">
    <div class="foot-1">
      <img src="/assets/logo (2).png" alt="footer-logo" class="logo">
  <div class="socials">
    <div class="soc">
   <a href="##"><img src="/assets/illustrations/Group 2148.png" class="icon" alt="icon"></a>
    </div>
    <div class="soc">
      <a href="##"><img src="/assets/illustrations/Group 2149.png" class="icon" alt="icon"></a>

    </div>
    <div class="soc">
      <a href="##"><img src="/assets/illustrations/Group 2150.png" class="icon" alt="icon"></a>

    </div>
    <div class="soc">
      <a href="##"><img src="/assets/illustrations/Group 2151.png" class="icon" alt="icon"></a>

    </div>
  </div>
    </div>
    <div class="foot-2">
      <h5><b>Company</b></h5>
      <a href="/">About us</a>
      <a href="/">Contact us</a>
    </div>
  </div>
</div>