<div class="intro">
  <div class="int">
    <div class="int-1">
      <h1 class="header">GET YOUR FAVOURITE MEALS <br>ASAP</h1>
      <!-- <img src="/assets/illustrations/Frame 12.png" class="asap" alt="asap"> -->
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit<br>
         reprehenderit ad aspernatur ipsum modi! Culpa libero Sit reprehenderit<br>
          ad aspernatur ipsum modi! Culpa libero Sit reprehenderit ad aspernatur<br>
           ipsum modi! Culpa libero Sit reprehenderit ad aspernatur ipsum modi! Culpa libero<br>
           ipsum modi! Culpa libero Sit reprehenderit ad aspernatur ipsum modi! Culpa libero </p>
       <div class="app-download">
        <a href="##"><img src="/assets/illustrations/Frame 29.png" class="app" alt="apple store"></a>
        <a href="##"><img src="/assets/illustrations/Frame 29 (1).png" class="app1" alt="playstore"></a>

       </div>
       <!-- <img src="/assets/illustrations/Group 23.png" class="user" alt="reviews"> -->
    </div>
    <div class="int-2">
      <img src="/assets/illustrations/Frame 6356143.png" class="food" alt="shopping provisions">


      </div>
  </div>
</div>
<div class="sub">
  <div class="subs">
    <div class="sub-1">
      <h5><b>Few Words <span class="gn">About Us</span></b></h5>
      <h1><b>Who We Are</b></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut esse cupiditate vitae nam minus, dignissimos magnam nihil commodi quaerat nemo neque natus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem quis! Voluptas earum deserunt dicta eius, doloremque libero rem! Saepe quos dicta ut quaerat modi veniam? Quae iusto omnis molestias Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos consequuntur fugiat harum vitae totam excepturi perspiciatis tempore porro optio rerum, quam enim ratione. Delectus doloribus nesciunt alias obcaecati dicta ex! Dignissimos illo alias consectetur iure dicta ullam vero.</p>
    </div>
    <div class="sub-2">
      <img src="/assets/illustrations/Frame 35.png" class="phone" alt="asap mobile app">
    </div>
  </div>
</div>