.intro {
    background-image: url('/assets/illustrations/hero-bg.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-color: #ffe79e;
    height: 900px;
}
.int{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: grid;
}
.app{
    width: 129px;
    height: 39.93px;
    margin-bottom: 5px;
}
.app1{
    width: 129px;
    height: 39.93px;
    margin-left: 10px;
    margin-bottom: 5px;

}
.sub-1 > h1{
    color: #fff;
}
.sub-1 > p{
    word-spacing: 2px;
}
.header{
    font-size: 5.5rem;
    color: #FFAA02;
    font-weight: 700;
    padding: 10px;
    font-family: "Futura", sans-serif;
}
.sub{
    background-color: #FFAA02;
    padding: 6% 10%;
    
}
.sub-1{
    padding: 10% 0;
}
.subs{
    display: grid;
    background-color: #FFAA02;
    grid-template: 1fr/ 1fr 1fr;
    
}
.sub-2{
    background-image: url('/assets/illustrations/Frame\ 5.png');
    background-size: 600px 400px;
    background-repeat: no-repeat;
    background-position: right;

}
.gn{
   color: #73AA1E;
}
.user{
    width: 132px;
    height: 30px;
}
.int-1 > p {
    word-spacing: 2px;
}
.asap{
    width: 362.06px;
    height: 165.32px;
}
.int-1{
    padding-top: 5%;
}
@media(max-width:601px){
    .intro {
        height: 520px;
    }
    .int{
        display: block;
    }
    .asap{
        width: 262.8px;
        height: 120px;

    }
    .int{
        padding-top: 13%;
    }
    .subs{
        display: block;
    }
    .sub-2{
        background-size: contain;
        margin-top:-10%;
    }
    .sub{
     height: auto;
    }
    .header{
        font-size: 2.2rem;
    }
}

.changing-text {
    display: inline-block;
    overflow: hidden;
    color: #73aa1e;
    vertical-align: bottom;
  }
  
  .typing {
    animation: typingAnimation 2s steps(30, end);
  }
  
  @keyframes typingAnimation {
    from {
      width: 0;
    }
  }
  