<section class="intro"> 
  <div class="int">
    <div class="int-1">
      <h1 class="header">GET YOUR <span class="changing-text">{{ currentChangingText }}</span> ASAP</h1>
      <!-- <img src="/assets/illustrations/Frame 12.png" class="asap" alt="asap"> 
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit<br>
         reprehenderit ad aspernatur ipsum modi! Culpa libero Sit reprehenderit<br>
          ad aspernatur ipsum modi! Culpa libero Sit reprehenderit ad aspernatur<br>
           ipsum modi! Culpa libero Sit reprehenderit ad aspernatur ipsum modi! Culpa libero<br>
           ipsum modi! Culpa libero Sit reprehenderit ad aspernatur ipsum modi! Culpa libero </p> -->
       <div class="app-download">
        <!--Apple store-->
       <div class="download-button" routerLink="/">
        <div class="logo-container">
          <img src="/assets/illustrations/apple.png" class="apple-logo" alt="apple logo">
        </div>
        <div class="text-cont">
          <h5 class="t-1">Download on the</h5>
          <h3 class="t-2">App store</h3>
        </div>
       </div>

       <!--Playsotre-->
       <div class="download-button-play" routerLink="/">
        <div class="logo-container">
          <img src="/assets/illustrations/play.png" class="apple-logo" alt="playstore logo">
        </div>
        <div class="text-cont">
          <h5 class="t-1">Andriod App on</h5>
          <h3 class="t-2">Google play</h3>
        </div>
       </div>


       </div>
    </div>
    <div class="int-2">
    <!--  <img src="/assets/illustrations/Frame 6356143.png" class="food" alt="shopping provisions"> -->


      </div>
  </div>
</section>
<div class="sub">
  <div class="subs">
    <div class="sub-1">
      <h1><b><span class="gn">About Us</span></b></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut esse cupiditate vitae nam minus, dignissimos magnam nihil commodi quaerat nemo neque natus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem quis! Voluptas earum deserunt dicta eius, doloremque libero rem! Saepe quos dicta ut quaerat modi veniam? Quae iusto omnis molestias Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos consequuntur fugiat harum vitae totam excepturi perspiciatis tempore porro optio rerum, quam enim ratione. Delectus doloribus nesciunt alias obcaecati dicta ex! Dignissimos illo alias consectetur iure dicta ullam vero.</p>
    
    <!--steps-->
    <div class="steps">
      <!--step 1-->
    
      <div class="step">
        <div class="step-1">
          <div class="img-1">
            <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

          </div>
          <div class="step-text">
             <h3 class="step-hd">Real Products</h3>
             <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
          </div>
        </div>
        <div class="step-2">
          <ion-icon name="chevron-forward-outline" class="click"></ion-icon>

        </div>
    </div>

    <!--Step 2-->
    <div class="steper">
      <div class="step-1">
        <div class="img-1">
          <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

        </div>
        <div class="step-text">
           <h3 class="step-hd">Real Products</h3>
           <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
        </div>
      </div>
      <div class="step-2">
        <ion-icon name="chevron-forward-outline" class="clicker"></ion-icon>

      </div>
  </div>

<!--Step 3-->
<div class="step">
  <div class="step-1">
    <div class="img-1">
      <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

    </div>
    <div class="step-text">
       <h3 class="step-hd">Real Products</h3>
       <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
    </div>
  </div>
  <div class="step-2">
    <ion-icon name="chevron-forward-outline" class="click"></ion-icon>

  </div>
</div>

<!--Step 4-->
<div class="steper">
  <div class="step-1">
    <div class="img-1">
      <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

    </div>
    <div class="step-text">
       <h3 class="step-hd">Real Products</h3>
       <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
    </div>
  </div>
  <div class="step-2">
    <ion-icon name="chevron-forward-outline" class="clicker"></ion-icon>

  </div>
</div>

    </div>
    </div>
    <div class="sub-2">
      <img src="/assets/illustrations/Frame 35.png" class="phone" alt="asap mobile app">
    </div>
  </div>
</div>