<div class="extras">
  <div class="extra">
    <div class="ex-1">
      <h2 class="ex-hd">Stay Home & Get All Your Essentials From Our Market!</h2>
      <p class="ex-p">dolorem quisquam tenetur magnam sint ipsam, minus autem!</p>

      <div class="app-download">
        <!--Apple store-->
       <div class="download-button" routerLink="/">
        <div class="logo-container">
          <img src="/assets/illustrations/apple-white.png" class="apple-logo" alt="apple logo">
        </div>
        <div class="text-cont">
          <h5 class="t-1">Download on the</h5>
          <h3 class="t-2">App store</h3>
        </div>
       </div>

       <!--Playsotre-->
       <div class="download-button-play" routerLink="/">
        <div class="logo-container">
          <img src="/assets/illustrations/play.png" class="apple-logo" alt="playstore logo">
        </div>
        <div class="text-cont">
          <h5 class="t-1">Andriod App on</h5>
          <h3 class="t-2">Google play</h3>
        </div>
       </div>

      <div class="QR-code">
        <img src="/assets/illustrations/qr.png" class="qr" alt="qr-code">
      </div>
       </div>

    </div>
    <div class="ex-2">
      <img src="/assets/illustrations/delivery.png" alt="delivery man" class="man">

    </div>
  </div>
</div>