<section class="container">
  <div class="heading">
    <h1>Why Choose Us</h1>
    <h4><b>Discover the Reasons to Make Us Your Preferred Choice.</b>
    </h4>
    <p>"Choose us for your delivery needs because we prioritize your
      convenience. Our advanced platform guarantees timely and secure
      deliveries, with real-time tracking to keep you informed. We offer a wide
      network of reliable riders, ensuring your packages reach their
      destinations safely. With a commitment to exceptional customer service
      and competitive pricing, we are the delivery service platform that values
      your time and trust."</p>
  </div>

  <div class="ark-wrapper">
    <div class="ark">
      <div class="body">
      <div class="title">
        Competent riders
      </div>
      <div class="body-text">
        Swift, and secure deliveries with our team of competent riders. Your convenience,
        our commitment.
      </div>
    </div>
    </div>
    <div class="ark">
      <div class="body">
      <div class="title">
        Speedy Delivery
      </div>
      <div class="body-text">
        Get what you need, when you need it, with seamless convenience.
      </div>
    </div>
    </div>
    <div class="ark">
      <div class="body">
      <div class="title">
        Safe packaging
      </div>
      <div class="body-text">
        Safe, eco-packaging, certified partners, contactless delivery. Fresh, secure orders to
        your door.      </div>
    </div>
    </div>
  </div>
</section>
