<section class="container">
  <div class="heading">
    <h1>Why Choose Us</h1>
    <h4>There's a reason why we are regarded as the best food and gorcery delivery option in town. I'll tell you why.
      There's a reason why we are regarded as the best food and gorcery delivery option in town. I'll tell you why.
    </h4>
  </div>

  <div class="ark-wrapper">
    <div class="ark">
      <div class="body">
      <div class="title">
        Fastest Delivery
      </div>
      <div class="body-text">
        We are dedicated to delivering your order as fast as possible. Nothing short of quality and speed.
      </div>
    </div>
    </div>
    <div class="ark">
      <div class="body">
      <div class="title">
        Fastest Delivery
      </div>
      <div class="body-text">
        We are dedicated to delivering your order as fast as possible. Nothing short of quality and speed.
      </div>
    </div>
    </div>
    <div class="ark">
      <div class="body">
      <div class="title">
        Fastest Delivery
      </div>
      <div class="body-text">
        We are dedicated to delivering your order as fast as possible. Nothing short of quality and speed.
      </div>
    </div>
    </div>
  </div>
</section>
