<div class="mobile-nav">
  <ion-menu contentId="main-content">
    <ion-header >
      <ion-toolbar >
        <img src="/assets/logo (1).png" alt="asap logo" class="mob-logo">
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-buttons class="mobile-menu">
        <ion-button>Home</ion-button>
        <ion-button>About us</ion-button>
        <ion-button>Faqs</ion-button>
        <ion-button>Contact us</ion-button>
      <!--  <ion-button  color="success" routerLink="/privacy-policy">Privacy Policy</ion-button> -->
  
      </ion-buttons>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img src="/assets/logo (1).png" alt="asap logo" class="mob-logo">
      </ion-toolbar>
    </ion-header>
  </div>
  </div>
  <div class="desktop-nav">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start" class="logo-button">
          <img src="/assets/logo (1).png" alt="asap logo" class="asap-logo">
        </ion-buttons>
  
        <!-- Privacy menu at the right 
        <ion-buttons slot="end" class="privacy-button">
          <ion-button routerLink="/privacy-policy"><b>Privacy Policy</b></ion-button>
        </ion-buttons> --> 
  
        <!-- Desktop menu items -->
        <ion-buttons class="desktop-menu">
          <ion-button routerLink="/">Home</ion-button>
          <ion-button>About us</ion-button>
          <ion-button>Faqs</ion-button>
          <ion-button>Contact us</ion-button>
  
        </ion-buttons>
  
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
    </ion-content>
  </div>
  