<div class="sub">
  <div class="subs">
    <div class="sub-1">
      <h1><b><span class="gn">About Us</span></b></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut esse cupiditate vitae nam minus, dignissimos magnam nihil commodi quaerat nemo neque natus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem quis! Voluptas earum deserunt dicta eius, doloremque libero rem! Saepe quos dicta ut quaerat modi veniam? Quae iusto omnis molestias Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos consequuntur fugiat harum vitae totam excepturi perspiciatis tempore porro optio rerum, quam enim ratione. Delectus doloribus nesciunt alias obcaecati dicta ex! Dignissimos illo alias consectetur iure dicta ullam vero.</p>
    
    <!--steps-->
    <div class="steps">
      <!--step 1-->
    
      <div class="step">
        <div class="step-1">
          <div class="img-1">
            <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

          </div>
          <div class="step-text">
             <h3 class="step-hd">Real Products</h3>
             <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
          </div>
        </div>
        <div class="step-2">
          <ion-icon name="chevron-forward-outline" class="click"></ion-icon>

        </div>
    </div>

    <!--Step 2-->
    <div class="steper">
      <div class="step-1">
        <div class="img-1">
          <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

        </div>
        <div class="step-text">
           <h3 class="step-hd">Real Products</h3>
           <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
        </div>
      </div>
      <div class="step-2">
        <ion-icon name="chevron-forward-outline" class="clicker"></ion-icon>

      </div>
  </div>

<!--Step 3-->
<div class="step">
  <div class="step-1">
    <div class="img-1">
      <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

    </div>
    <div class="step-text">
       <h3 class="step-hd">Real Products</h3>
       <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
    </div>
  </div>
  <div class="step-2">
    <ion-icon name="chevron-forward-outline" class="click"></ion-icon>

  </div>
</div>

<!--Step 4-->
<div class="steper">
  <div class="step-1">
    <div class="img-1">
      <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

    </div>
    <div class="step-text">
       <h3 class="step-hd">Real Products</h3>
       <p class="s-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ad, minus explicabo ab modi molestias</p>
    </div>
  </div>
  <div class="step-2">
    <ion-icon name="chevron-forward-outline" class="clicker"></ion-icon>

  </div>
</div>

    </div>
    </div>
    <div class="sub-2">
      <img src="/assets/illustrations/Frame 35.png" class="phone" alt="asap mobile app">
    </div>
  </div>
</div>