<div class="sub">
  <div class="subs">
    <div class="sub-1">
      <h1><b><span class="gn">About Us</span></b></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut esse cupiditate vitae nam minus, dignissimos magnam nihil commodi quaerat nemo neque natus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem quis! Voluptas earum deserunt dicta eius, doloremque libero rem! Saepe quos dicta ut quaerat modi veniam? Quae iusto omnis molestias Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos consequuntur fugiat harum vitae totam excepturi perspiciatis tempore porro optio rerum, quam enim ratione. Delectus doloribus nesciunt alias obcaecati dicta ex! Dignissimos illo alias consectetur iure dicta ullam vero.</p>
    
    <!--steps-->
    <div class="steps">
      <!--step 1-->
    
      <div class="step">
        <div class="step-1">
          <div class="img-1">
            <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

          </div>
          <div class="step-text">
             <h3 class="step-hd">LAUNDRY</h3>
             <p class="s-1">Here at ASAP, discover the ultimate convenience with our laundry service. Say goodbye to
              laundry woes. We pickup, clean and deliver your clothes, fresh and folded.
              Enjoy more free time, while we handle the rest.</p>
          </div>
        </div>
        <div class="step-2">
          <ion-icon name="chevron-forward-outline" class="click"></ion-icon>

        </div>
    </div>

    <!--Step 2-->
    <div class="steper">
      <div class="step-1">
        <div class="img-1">
          <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

        </div>
        <div class="step-text">
           <h3 class="step-hd">FOOD</h3>
           <p class="s-1">Satisfy your cravings with our swift food service. From your favourite food vendor, local
            eateries, top restaurants, we deliver flavours to your doorstep.
            Fast and reliable, enjoy restaurant quality meals at the comfort of your home.
            </p>
        </div>
      </div>
      <div class="step-2">
        <ion-icon name="chevron-forward-outline" class="clicker"></ion-icon>

      </div>
  </div>

<!--Step 3-->
<div class="step">
  <div class="step-1">
    <div class="img-1">
      <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

    </div>
    <div class="step-text">
       <h3 class="step-hd">GROCERY</h3>
       <p class="s-1">At ASAP, experience effortless grocery shopping with our reliable service. Order from a wide
        range of products online, we'll handpick and deliver them to your doorstep, saving you time.
        Enjoy the convenience of fresh grocery from the comfort of your home.</p>
    </div>
  </div>
  <div class="step-2">
    <ion-icon name="chevron-forward-outline" class="click"></ion-icon>

  </div>
</div>

<!--Step 4-->
<div class="steper">
  <div class="step-1">
    <div class="img-1">
      <img src="/assets/illustrations/Frame 6356141.png" class="bag" alt="shopping basket">

    </div>
    <div class="step-text">
       <h3 class="step-hd">GAS</h3>
       <p class="s-1">Are you running low on gas!? Our efficient gas service has you covered. With a quick tap,
        we deliver gas directly to your location, anytime.
        So, no more waiting in a long queue, just seamless refilling to keep you going.</p>
    </div>
  </div>
  <div class="step-2">
    <ion-icon name="chevron-forward-outline" class="clicker"></ion-icon>

  </div>
</div>



    </div>
    </div>
    <div class="sub-2">
      <img src="/assets/illustrations/Frame 35.png" class="phone" alt="asap mobile app">
    </div>
  </div>
</div>