.contact{
    background-color: #FFAA02;
    padding-top: 5%;
}
.tabs-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 2px;
   
    margin-left:40%;
}
#tab2{
    display: none;
}
.tabs-controls button{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
    transition: .7s ease-in-out;

}
.tabs-controls button.active {
    background-color:  #FFAA02;
    transition: .7s ease-in-out;
  }
.con{
    display: grid;
    grid-template: 1fr/1fr 1fr ;
    background-color: #FFAA02;
    padding: 5%;
    color: #fff;
}
.txt{
    width: 100%;
    padding: 15px;
    color: #000;
    border-radius: 7px;
    outline: none;
    background-color: #fff;
    margin-bottom: 10px;
    border: none;
}
.con-2{
    padding: 5%;
    padding-right: 13%;
}
.con-1{
    padding-left: 10%;
}
.con-2 > h1{
    font-size: 2rem;
}
.con-2 > p{
    font-size: 1rem;
    word-spacing: 2px;
}
.txt-bg{
    width: 100%;
    color: #000;
    border-radius: 7px;
    outline: none;
    background-color: #fff;
    height: 10rem;
    margin-bottom: 10px;
    border: none;
    padding: 15px;

}

.sub{
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    border: none;
   padding: 15px 40px 15px 40px;
    font-size: 1rem;
    outline: none;
    transition: .8s ease-in-out;
}
.sub:hover{
    background-color: #222;

}

@media(max-width:601px){
    .con{
        display: block;
    }
    .con-2{
        padding: 5%;
    }
    .con-1{
        padding-left: 0;
    }
    .tabs-controls{
        margin-left: 20%;
    }
    #tab2{
        display: none;
    }
}