<div class="contact">
  <div class="tabs-controls">
    <button id="tab1Button">Vendor</button>
    <button id="tab2Button">Rider</button>
  </div>
  <div class="con" id="tab1">
    
    <div class="con-1">
     <img src="/assets/illustrations/Vendor.png" class="bag" alt="Vendor">
    </div>
    <div class="con-2">

     <h1><b>Partner with Us</b></h1>
     <p>Expand Your Reach with Our Delivery Platform.</p>
     <form>
      <input class="txt" type="email" placeholder="Your Email Adress">
      <input class="txt" type="text" placeholder="Full Name">
      <textarea class="txt-bg" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="sub">

     </form>
    </div>
  </div>

  <!--tab2-->
  <div class="con" id="tab2">
    
    <div class="con-2">

     <h1><b>Join Our Amiable Team</b></h1>
     <p>Deliver Smiles and Earn with Our Dynamic Rider Community</p>
     <form>
      <input class="txt" type="email" placeholder="Your Email Adress">
      <input class="txt" type="text" placeholder="Full Name">
      <textarea class="txt-bg" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="sub">

     </form>
    </div>

    <div class="con-1">
      <img src="/assets/illustrations/Rider.png" class="bag" alt="Rider">
     </div>

  </div>

</div>
