<div class="contact">
  <div class="con">
    <div class="con-1">
     <img src="/assets/illustrations/illustration4 1.png" class="bag" alt="shopping bag">
    </div>
    <div class="con-2">
     <h1><b>Contact us</b></h1>
     <p>Join us today to get some amazing discount and get promo from us to you to enjoy.</p>
     <form>
      <input class="txt" type="email" placeholder="Your Email Adress">
      <input class="txt" type="text" placeholder="Full Name">
      <textarea class="txt-bg" placeholder="Message"></textarea>
      <input type="submit" name="submit" class="sub">

     </form>
    </div>
  </div>
</div>
